html{ 
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#header-nav {
  background-color: rgb(123, 162, 188);
  border-radius: 0;
  padding-bottom: 20px;
}


.navbar-brand {
  padding-top: 25px;
  
}

.navbar-brand h1 {
  font-family: serif;
  color: #474141;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #574949;
  background-color:rgb(185, 208, 226);
  text-align: center;
  font-weight: bold;
}

#nav-list a:hover {
  background: #c6c4c4;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #031844;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}

#menu{
  border: 1px solid black;
}


h1 {
  font-family: "sans-serif";
  font-weight: bold;
  color: rgb(65, 102, 102);
}

.box {
  display: block;
  width: 90%;
  height: auto;
  border: 0;
  margin-left: 5%;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #cce0ee;
}


h2 {
  text-align: center;
  margin-right: 0;
  font-family: "cursive;";
  font-weight: bold;
  color: rgb(84, 130, 180);
}

p {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
}
